:root {
    --main-text: #000a;
    --main-text-hover: #f5f5f5;
    --main-text-h2: #999;
    --main-bg: #f5f5f5;
    --main-status-color: #3cb371;
    --btn-color: #000a;
    --btn-color-hover: #f5f5f5;
    --btn-out-color: #000a;
    --btn-img-iv: 0;
    --btn-img-hover-iv: 1;
  }

@media (prefers-color-scheme: dark) {
    :root {
      --main-text: #f5f5f5;
      --main-text-hover: #000a;
      --main-text-h2: #999;
      --main-bg: #212529;
      --main-status-color: #3cb371;
      --btn-color: #fff;
      --btn-color-hover: #000;
      --btn-out-color: #f5f5f5;
      --btn-img-iv: 1;
      --btn-img-hover-iv: 0;
    }
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--main-text);
    background-color: var(--main-bg);
    font-family: Arial,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    animation: fade 1s;
    transition: .5s;
}

@keyframes fade {
    0% {opacity: 0;
    }

    100% {opacity: 1;
    }
}

main {
    position: relative;
}
  
header {
    margin: 3em auto 1em auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
  
header > img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
}
  
header > h1 {
    color: var(--main-text);
    font-size: 1.2em;
    font-weight: bold;
}

header > p {
    color: var(--main-text-h2);
    font-size: 0.8em;
    font-weight: bold;
}

footer {
    margin: 2em auto;
    text-align: center;
	font-size: 0.8em;
}

footer > p > a {
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer > p > a > img {
    filter: invert(var(--btn-img-hover-iv));  
}

ul {
    margin: 0 auto;
    padding: 1em 2em;
    box-sizing: border-box;
    list-style: none;
    max-width: 600px;
}

ul > h1 {
    padding: 0.3em 0.6em;
    display: inline-block;
    color: var(--main-text);
    background-color: var(--main-bg);
    font-size: 0.8em;
    font-weight: bold;
    border: 0.1em solid var(--btn-out-color);
    border-radius: 1em;
}

ul li {
    margin: 1.5em 0;
    background-color: var(--btn-color);
    border: 1.5px solid var(--btn-color);
    border-radius: 1em;
    transition: all .3s ease;
}

ul li:hover {
    background-color: var(--main-bg);
    border: 1.5px solid var(--btn-out-color);
}

ul li[class$="attach1"] {
    margin: 1.5em 0 0 0;
    border-radius: 1em 1em 0 0;
}

ul li[class^="btn_status"] {
    background-color: var(--main-status-color);
    border: 1.5px solid var(--main-status-color); 
}
    
ul li[class^="btn_status"]:hover {
    background-color: var(--main-bg);
    border: 1.5px solid var(--main-status-color);   
}
    
ul li[class^="btn_status"]:hover > a {
    color: var(--main-status-color);
}

ul li[class^="block_info"] {
    padding: 0;
    background-color: var(--main-bg);
    border: 1.5px solid var(--btn-color);
    border-radius: 1em;
}

ul li[class^="block_info_blue"] {
    background-color: #0d6efd;
    color: #f5f5f5; 
    border: 1.5px solid #f5f5f5;
}

ul li[class^="block_info_red"] {
    background-color: #dc143c;
    color: #f5f5f5;
    border: 1.5px solid #f5f5f5;
}

ul li[class^="block_info_status"] {
    border: 1.5px solid var(--main-status-color);
}

ul li[class$="attach2"] {
    margin: -1.5px 0 1.5em 0;
    border-radius: 0 0 1em 1em;
}

ul li > a {
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--main-text-hover);
    text-decoration: none;
}

ul li:hover > a {
    color: var(--main-text);
    font-weight: bold;
}

ul li > a > img {
    filter: invert(var(--btn-img-iv));
}

ul li:hover > a > img {
    filter: invert(var(--btn-img-hover-iv));
}

ul li[class^="block_info"] h2 {
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

ul li[class^="block_info"] img:not(.colored) {
    filter: invert(var(--btn-img-hover-iv)); 
}

ul li[class^="block_info_blue"] img:not(.colored) {
    filter: invert(0);
}

ul li[class^="block_info_red"] img:not(.colored) {
    filter: invert(0);
}

ul li[class^="block_info"] p {
    margin: 1em;
    font-size: 0.8em;
    text-align: left;
    gap: 1em;
}

ul li[class^="block_info"] p.status_tips {
    margin: 1em 4em;
    font-size: 0.5em;
    color: var(--main-text-h2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

ul li[class^="block_info"] .block_info_target {
    margin: 1em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.t_title {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.t_title > a {
    display: block;
    height: 15px;
}

a {
    color: var(--main-text);
    text-decoration: none;
}

a:hover {
    color: var(--main-text-h2);
}

hr {
    margin: 1em;
}

hr.status_list {
    margin: 0em 2em;
}

.backbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
    filter: invert(var(--btn-img-hover-iv));
    transition: all 0.3s ease;
}

/*
.backbtn > a > img:hover {
    transform: rotate( -30deg );
}
*/